{% extends 'base_sticky.html' %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Contact" %}{% endblock %}
<style>
</style>

<body>
  <br/><br/><br/>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-6">
      <h1>{% trans "Contact us" %}</h1>
      <br>
      {% if confirm_message %}
      <p>{{ confirm_message }}</p>
      {% endif %}
      {% if form %}
      <form method = 'POST' action = ''> {% csrf_token %}
        {{ form|crispy }}
        <input type = "submit" value = 'submit form' class = 'btn btn-default'/>
      </form>
      {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
</body>

{% endblock content %}
