{% extends 'base_sticky.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ instance.name }}{% endblock head_title %}
{% block content %}
  <br/><br/><br/>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <a><strong>Name:</strong> {{ event.name|linebreaks }}</a><br>
      <a><strong>Description:</strong> {{ event.description|linebreaks }}</a><br>
      <a><strong>Date:</strong> {{ event.date|linebreaks }}</a><br>
      <a><strong>Organiser:</strong> {{ event.organiser|linebreaks }}</a><br>
      <a><strong>Contact:</strong> {{ event.contact|linebreaks }}</a><br>
    </div>
    <div class="col-md-3"></div>
  </div>

{% endblock content %}
{% block footer %}
<footer class="footer" style="position: fixed;bottom:0em;background-color: black">
  <div class="container">
    <span class="text-muted">&copy; Copyright 2018.</span>
  </div>
</footer>
{% endblock footer %}
