{% extends 'base.html' %}

{% block content %}

<div class="container" style="min-height:100%;">
  <br><br><br><br><br>
  {% if list_of_events %}
    {% for event in list_of_events %}
      <a href="{% url 'events:detail' event.tag %}">{{event.name|linebreaks}}</a>
      
    {% endfor %}

  {% else %}
    <h2>No events to display under this club!!!</h2>
  {% endif %}

  <button data-text="<<Back" onclick="window.location.href='{% url 'events:select_club' %}'" class="btn btn-primary">Back</button>
</div>

{% endblock %}
