{% extends 'base.html' %}
{% block head_title %}{{ instance.name }}{% endblock head_title %}

{% block content %}
<br>
<br>
<br>
<br>




{% if list_of_events %}
{% for event in list_of_events %}
<a href="{% url 'events:detail_of_event' event.id %}">{{event.name}}</a>

<!--
<a href="">{{event.name}}</a>
-->
{% endfor %}

{% else %}
<h2>No events to display under this club!!!</h2>
{% endif %}

  <button data-text="<<Back" onclick="window.location.href='{% url 'events:select_club' %}'">Go Back</button>
<!--<button type="submit" class="btn btn-primary">Search</button>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}



