{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>

<div class="container" style="min-height:100%;">
  <form action="{% url 'events:select_club' %}" method="POST">
    {% csrf_token %}
    <label class="col-form-label  requiredField">
                                                          Select club <span class="asteriskField">*</span>
                                                      </label>
    <div class="">
      <br>
      <br>
      <select name="club_name" class="select form-control" id="">

                                      <option value="swa">Swayam</option>

                                            <option value="eco">Eco Club</option>

                                            <option value="art">Arts Club</option>

                                            <option value="abh">Abhinay</option>

                                            <option value="thm">Theme Ballet</option>

                                            <option value="vtk">Vasavi Talkies</option>

                                            <option value="csi">CSI</option>
                                                  </select>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>


{% endblock content %}
